<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= current_page.data.title %></title>

  <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/app.css" />

  <script src="javascripts/vendor/custom.modernizr.js"></script>
</head>
<body>

  <%= yield %>

  <script src="javascripts/app.js"></script>
</body>
</html>
