---
title: Desde La Floresta
---

<div class="row">
  <div class="large-3 columns">
    <h1 class="subheader">Desde La Floresta</h1>
    <p>
      Somos profesionales en herrería artesanal y de obra.
      Venimos al Perú desde Uruguay, a traer la artesanía tradicional de la familia De Azpitarte.
      Hacemos barandas, rejas, estructuras metálicas, entre otros. Trabajamos todos los metales.
    </p>
    <h4 class="subheader">
      Pablo De Azpitarte <strong>&amp;</strong><br />
      Jorge Guarisco
    </h4>
    <p>
      <span class="radius secondary label">Correo Electrónico</span>
      <br />
      <a href="mailto:pdeazpitarte@desdelafloresta.com">pdeazpitarte@desdelafloresta.com</a>
      <br />
      <span class="radius secondary label">Teléfono</span>
      <br />
      <a href="tel:933633727">933633727</a>
    </p>
  </div>
  <div class="large-9 columns">
    <!-- Orbit Container -->
    <div class="orbit-container">
      <ul data-orbit="" class="orbit-slides-container" data-options="bullets:false;">
        <% data.billboards.each do |billboard| %>
          <li class="billboard" data-orbit-slide="<%= billboard.uid %>">
            <img src="/images/<%= billboard.uid %>.jpg">
            <div class="orbit-caption">
              <strong><%= billboard.name %></strong> &mdash; <%= billboard.place %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
